{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}

<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <h1></h1>
        <table border="2" align="center" cellpadding="10" style="border-collapse: collapse;">
            <center><h1>Add loan type</h1></center>
            <tr>
                <td>Loan</td>
                <td><input type="text" name="txt_loan"value="{{editloan.loan_name}}" required="" autocomplete="off"></td>
            </tr>
            
            <tr>
                <td colspan="2" align="center" cellpadding="10">      
               <input type="submit" name="save" value="Save">
               <input type="reset" name="cancel" value="Cancel">
               </td>
           </tr>
        </table>
<br><br>
        <table border="2" align="center" cellpadding="10">
            <tr>
                <td>Sl.no</td>
                <td>Loan Name</td>
                <td>Action</td>
            </tr>
           {% for i in loan %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.loan_name}}</td>
            <td><a href="{% url 'Admin:deleteloan' i.id %}">Delete</a>|<a href="{% url 'Admin:editloan' i.id %}">Edit</a></td>
        </tr>
        {% endfor %}
        </form>
</body>
</html>
{% endblock content %}