{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}

<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="" enctype="multipart/form-data">
        
        {% csrf_token %}

        <center><h1>Relative List</h1></center>
    <table  align="center" cellpadding="10">
        <tr>
            {% for i in rdata %}
            <td>
                <div style="border:1px solid black;margin:20px;padding:10px">
                <p><img src="{{i.photo.url}}" width="150" height="150"></p>
                  <p>Name : {{i.relative_name}}</p>
                   <p>Age : {{i.age}}</p>
                   <p>Contact: {{i.contact}}</p>
                   <p>Email: {{i.email}}</p>
                   
                   <p>Gender: {{i.gender}}</p>
                   {% if i.inactive == 3 %}
                   <p style="color: red;">Passed Away</p>
                    <p>Related To : {{i.relation_type.relation_type}}</p>
                    {% else %}
                           <p>Relation Type: {{i.relation_type.relation_type}}</p>
                           {% endif %}
                   
                   
                       </div>
    </td>
    {% if forloop.counter|divisibleby:4 %}  
    </tr>
    <tr>

        {% endif %}
        {% endfor %}
        </table>
    </form>
</body>
</html>
{% endblock content %}