{% extends 'Finance/Head.html' %}
{% load static %}
{% block content %}

<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="">
        {% if rejectlist %}
        <table border="1" align="center" cellpadding="10">
            <tr>
                <td>Sl.no</td>
                <td>Member Name</td>
                <td>Contact</td>
                <td>Email</td>
                <td>Chitty Name</td>
                <td>Status</td>
            </tr>

            {% for i in rejectlist %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.memberdata.member_name}}</td>
            <td>{{i.memberdata.contact}}</td>
            <td>{{i.memberdata.email}}</td>
            <td>{{i.chittydata.chitty_name}}</td>
            <td>
            
                {% if i.status == 2 %}
               <P> Rejected</P>
                
                {% endif %}
        </td>   
        </tr>
        {% endfor %}
        </table>
        {% endif %}
        <br><br>

        {% if rejectlist1 %}
        <table border="1" align="center" cellpadding="10">
            <tr>
                <td>Sl.no</td>
                <td> Name</td>
                <td>Contact</td>
                <td>Email</td>
                <td>Chitty Name</td>
                <td>Status</td>
            </tr>

            {% for i in rejectlist1 %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.relative.relative_name}}</td>
            <td>{{i.relative.contact}}</td>
            <td>{{i.relative.email}}</td>
            <td>{{i.chittydata.chitty_name}}</td>
           
            <td>
            
                {% if i.status == 2 %}
               <P> Rejected</P>
                
                {% endif %}
        </td>        
        </tr>
        {% endfor %}
        </table>
        {% endif %}
        </form>
</body>
</html>
{% endblock content %}