{% extends 'Finance/Head.html' %}
{% load static %}
{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <center><h1>Complaints</h1></center>
         {% if data %}
         <center><h5>Member Complaints</h5></center>
    <table border="1" align="center" cellpadding="10">
        <tr>
            <td>Sl.no</td>
            <td>Member Name</td>
            <td>Contact</td>
            <td>Email</td>
            <td>Title </td>
            <td>Content </td>
            <td>Action</td>
        </tr>
       {% for i in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.member_name.member_name}}</td>
        <td>{{i.member_name.contact}}</td>
        <td>{{i.member_name.email}}</td>
        <td>{{i.title}}</td>
        <td>{{i.content}}</td>
        <td><a href="{% url 'Finance:complaintreply' i.id %}">Reply</a></td>
        
        
    </tr>
    {% endfor %}
    </table>
    {% endif %}
<br><br>
{% if data1 %}
<center><h5>Relative Complaints</h5></center>
    <table border="1" align="center" cellpadding="10">
        <tr>
            <td>Sl.no</td>
            <td> Name</td>
            <td>Contact</td>
            <td>Email</td>
            <td>Title </td>
            <td>Content </td>
            <td>Action</td>
        </tr>
       {% for i in data1 %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.relative_name.relative_name}}</td>
        <td>{{i.relative_name.contact}}</td>
        <td>{{i.relative_name.email}}</td>
        <td>{{i.title}}</td>
        <td>{{i.content}}</td>
        <td><a href="{% url 'Finance:complaintreply' i.id %}">Reply</a></td>
        
        
        
    </tr>
    {% endfor %}
    </table>
    {% endif %}
            
</form>
</body>
</html>
{% endblock content %}