{%  load static %}
<!DOCTYPE html>
<html lang="en">

 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if mess %}
    <center><h2 style="color: red;">Already on a loan</h2></center>
    <script>
        // Set the time interval in milliseconds (e.g., 5 seconds)
const timeInterval = 5000;

// Redirect the page after the specified time interval
setTimeout(function() {
  // Redirect to a new page
  window.location.href = "../../wmember/homepage/";
}, timeInterval);

    </script>
    {% endif  %}

    {% if mess1 %}
    <center><h2 style="color: red;">Already granded</h2></center>
    <script>
        // Set the time interval in milliseconds (e.g., 5 seconds)
const timeInterval = 5000;

// Redirect the page after the specified time interval
setTimeout(function() {
  // Redirect to a new page
  window.location.href = "../../wmember/homepage/";
}, timeInterval);

    </script>
    {% endif  %}


    {% if mess2 %}
    <center><h2 style="color: red;">Already applied</h2></center>
    <script>
        // Set the time interval in milliseconds (e.g., 5 seconds)
const timeInterval = 5000;

// Redirect the page after the specified time interval
setTimeout(function() {
  // Redirect to a new page
  window.location.href = "../../wmember/homepage/";
}, timeInterval);

    </script>
    {% endif  %}

</body>
</html>

<!-- <div class="footer">
  <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
      <br>
      Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
      <br>
      Distibuted By: <a href="https://themewagon.com" target="_blank" title="Build Better UI, Faster">ThemeWagon</a>
    </p>
</div>
</section> -->

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="{% static 'Member/vendor/jquery/jquery.min.js'%}"></script>
<script src="{% static 'Member/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

<script src="{% static 'Member/assets/js/isotope.min.js'%}"></script>
<script src="{% static 'Member/assets/js/owl-carousel.js'%}"></script>
<script src="{% static 'Member/assets/js/lightbox.js'%}"></script>
<script src="{% static 'Member/assets/js/tabs.js'%}"></script>
<script src="{% static 'Member/assets/js/video.js'%}"></script>
<script src="{% static 'Member/assets/js/slick-slider.js'%}"></script>
<script src="{% static 'Member/assets/js/custom.js'%}"></script>
<script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
      direction = section.replace(/#/, ''),
      reqSection = $('.section').filter('[data-section="' + direction + '"]'),
      reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos },
        800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
        $this = $(this),
        topEdge = $this.offset().top - 80,
        bottomEdge = topEdge + $this.height(),
        wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
          currentId = $this.data('section'),
          reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
          siblings().removeClass('active');
        }
      });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
      e.preventDefault();
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
</script>